*.txt
*.error
*.pbs
*.csv
*.tsv
*.log
*.fa
*.paf
*.fasta
**/__pycache__
*.png
*pyc
utils/__pycache__/get_args.cpython-38.pyc
utils/__pycache__/tools.cpython-38.pyc
plot_func/__pycache__/plot_cigar.cpython-38.pyc
*.mmi
utils/__pycache__/build_path.cpython-38.pyc
utils/__pycache__/fasta.cpython-38.pyc
utils/__pycache__/fasta.cpython-312.pyc
utils/__pycache__/get_args.cpython-38.pyc
utils/__pycache__/get_args.cpython-312.pyc
utils/__pycache__/paf.cpython-38.pyc
utils/__pycache__/paf.cpython-312.pyc
utils/__pycache__/tools.cpython-38.pyc
plot_func/__pycache__/plot_cigar.cpython-38.pyc
plot_func/__pycache__/plot_minimap.cpython-38.pyc
plot_func/__pycache__/plot_minimap.cpython-312.pyc
*.fofn
*.bam
*.bai
*.bed
*.pdf
