*.txt
*.error
*.pbs
*.csv
*.tsv
*.log
*.fa
*.paf
*.fasta
**/__pycache__/
*.png
*pyc
plot_func/__pycache__/plot_cigar.cpython-38.pyc
*.mmi
*/__pycache__/*
*.fofn
*.bam
*.bai
*.bed
*.pdf
workflow.output/*
nucfreq/*
pbs/*
